* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #121212;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.block {
  padding: 15px;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.container { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

.main-content { 
  display: flex; 
  flex-grow: 1; 
}

.right-content-area {
   display: flex; 
   flex-direction: column; 
   flex-grow: 1; 
}

/* Контейнер, що вибудовує центральну та праву колонки горизонтально */
.bottom-row { 
  display: flex; 
  flex-grow: 1; 
}

/*Контейнер, що вибудовує блоки 4 і 6 вертикально */
.center-stack { 
  display: flex; 
  flex-direction: column; 
  flex-grow: 1;
  flex-basis: 0; 
}

.block1, .block7 { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 20px 40px; 
  background: #121212; 
}

.block2 { 
  flex-basis: 250px; 
  flex-shrink: 0; 
  background: #222; 
}

.block3 { 
  background: #23272f; 
}

.block6 { 
  background: #0d042e; 
}

.block4 { 
  background: #121629;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-grow: 1; 
}

.block5 { 
  flex-basis: 250px;
  flex-shrink: 0;
  background: #040817; 
}

.blockX, .blockY {
  display: inline-block; 
  padding: 0.5rem 1rem; 
  background: #312f38;   
}

.block4 img {
  display: block; 
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.block p {
  line-height: 2; 
  font-size: 24px;
  font-weight: bold; 
  text-align: center;
  color: #fff; 
  font-weight: bold;
}

.block h3 {
  font-size: 30px; 
  font-weight: bold; 
  margin-bottom: 20px; 
  text-align: center;
  color: #fff; 
  font-weight: bold;
}

.block li {
  margin-bottom: 10px; 
  font-size: 18px; 
  font-weight: 200;
}

ul, ol {
  padding-left: 25px; 
  text-align: left;
}

a {
  color: #216da0; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}